*{
    margin:0;
    padding:0;
}
body{
display: flex;
align-items: center;
justify-content: center;
}
#count{
    display: flex;
    justify-content: center;
    text-align: center;
    width:500px;
    height:500px;
    border: 2px solid;
    font-size: 4rem;
}